@using BlogProject.ViewModels.Request
@model AddCommentViewModel

@{
    ViewData["Title"] = "Создание комментария";
    Layout = "_Layout";
}

<h1 class="text-white text-center">Добавление Комментария</h1>
<div class="">
    <form class="d-flex flex-column justify-content-center" method="post" asp-controller="Comment" asp-action="AddComment">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-3 d-flex flex-column justify-content-center">
                <h4 class="text-white">@Model.Post.Title</h4>
                <p class="text-white">@Model.Post.Content</p>
                <p class="w-75">
                    <partial name="~/Views/Tag/GetTags.cshtml" model="@Model.Post.Tags"></partial>
                </p>
                <div class="comments">
                    <partial name="~/Views/Comment/GetComments.cshtml" model="@Model.Post.Comments"></partial>
                </div>
                <input class="d-none" asp-for="@Model.Post.Id" value="@Model.Post.Id" readonly />
                <p class="w-100"><input class="input text-center form-control-plaintext w-75" asp-for="@Model.Content" placeholder="Ваш комментарий" /></p>
                <span asp-validation-for="@Model.Content" class="text-danger text-center"></span>
                <div class="row">
                    <button class="col-lg-2 col-md-6 col-sm-10 button m-auto p-2 mt-3 mb-3">Опубликовать</button>
                </div>
            </div>
        </div>
    </form>
</div>
