@using BlogProject.ViewModels.Request
@model FormPostViewModel

@{
    ViewData["Title"] = "Редактирование публикации";
    Layout = "_Layout";
    string Title = @Model.Post.Title;
    string Content = @Model.Post.Content;
    string TagIds = @Model.TagIds;
}

<h1 class="text-white text-center">Редактирование публикации</h1>



<div class="">
    <form class="d-flex flex-column justify-content-center" method="post" asp-controller="Post" asp-action="EditPost">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-3 d-flex flex-column justify-content-center">
                <p class="d-none"><input class="input text-center form-control-plaintext w-75" asp-for="@Model.postId" value="@Model.postId" readonly /></p>
                <p class="w-100"><input class="input text-center form-control-plaintext w-75" asp-for="@Model.Post.Title" value="@Title" /></p>
                <span asp-validation-for="@Model.Post.Title" class="text-danger text-center"></span>
                <p class="w-100"><textarea class="textarea form-control-plaintext w-75" asp-for="@Model.Post.Content" value="@Content" rows="8"></textarea></p>
                <span asp-validation-for="@Model.Post.Content" class="text-danger text-center"></span>
                <div class="opacity-0 d-none"><input id="Tags" type="text" asp-for="@Model.TagIds" value="@TagIds" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="row w-75 m-auto" id="ExistsTags">
                    <partial name="~/Views/Tag/CheckboxTags.cshtml" model="@Model"></partial>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="btnAddNew" class="text-center col-lg-2 col-md-6 col-sm-10 button m-auto p-2 mt-3 mb-3">Создать тег</div>
        </div>
        <div class="row">
            <button class="col-lg-2 col-md-6 col-sm-10 button m-auto p-2 mt-3 mb-3">Опубликовать</button>
        </div>
    </form>
</div>

<partial name="~/Views/Tag/CreateTag.cshtml" model="@Model"></partial>

<div class="row justify-content-center">
    <div class="col-lg-5 text-center">
        <a class="pointer linkRemove">Удалить публикацию</a>
    </div>
</div>
<div class="modal fade modalAgreement" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close button closeModalAgreement" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center pb-5">
                <h3 class="text-black mb-5">Вы уверены в том, что хотите удалить публикацию?</h3>
                <a class="button p-2 focus-outline-none" asp-route-id="@Model.postId" asp-controller="Post" asp-action="DeletePost">Удалить публикацию</a>
            </div>

        </div>
    </div>
</div>

