@using BlogProject.ViewModels.Response
@model GetPostsViewModel

@{
    ViewData["Title"] = "Новости";
    Layout = "_Layout";
}

@foreach (var post in Model.posts)
{
     @if (Context.User.Identity.Name != post.User.Email)
    {
        <div class="row justify-content-center">
            <div class="col-lg-8 post-block m-3 parentComm">
                <div class="m-3">
                    @if (Context.User.IsInRole("moder"))
                    {
                        <a class="pointer fs-3 focus-outline-none color-main" asp-route-id="@post.Id" asp-controller="Post" asp-action="DeletePost">&#10008;</a>
                    }
                    <a class="text-white" asp-controller="User" asp-action="MainUser" asp-route-userId="@post.User.Id">
                        @{
                            string fullName = post.User.FirstName + " " + post.User.LastName;
                        }
                        @fullName
                      </a>
                    <h4 class="text-white">@post.Title</h4>
                    <p class="text-white">@post.Content</p>
                    <p class="w-75">
                        @foreach (var tag in post.Tags)
                        {
                            <span class="tag m-1 p-1">@tag.Name</span>
                        }
                    </p>
                    <div class="d-flex justify-content-end">
                        <p class="position-absolute color-main translateY-100">
                            <span class="btnComm pointer fs-1">&crarr;</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="hide hideComm">
                <div class="comments container">
                    <partial name="~/Views/Comment/GetComments.cshtml" model="post.Comments"></partial>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="button p-2 text-center focus-outline-none m-2" formmethod="get" asp-controller="Comment" asp-action="AddComment" asp-route-postId="@post.Id">Добавить комментарий</a>
                </div>
            </div>
        </div>
    }

}
