@using BlogProject.ViewModels.Request
@model FormPostViewModel

@{
    ViewData["Title"] = "Добавление тегов";
    Layout = "_Layout";
    string Title = @Model.Post.Title;
    string Content = @Model.Post.Content;
    string TagIds = @Model.TagIds;
}

<h1 class="text-white text-center">Добавление тегов</h1>



<div class="">
    <form class="d-flex flex-column justify-content-center" method="post" asp-controller="Post" asp-action="AddPost">
        <div class="row justify-content-center">
            <div class="col-lg-8 m-3 d-flex flex-column justify-content-center">
                <p class="w-100"><input class="input text-center form-control-plaintext w-75" asp-for="@Model.Post.Title" value="@Title" readonly /></p>
                <p class="w-100"><textarea class="textarea form-control-plaintext w-75" asp-for="@Model.Post.Content" value="@Content" readonly rows="8"></textarea></p>
                <div class="opacity-0 d-none"><input id="Tags" type="text" asp-for="@Model.TagIds" value="@TagIds" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="row w-75 m-auto"id="ExistsTags">
                    @foreach (var allTag in Model.AllTags)
                    {
                        @if (Model.TagIds != null)
                        {
                            @if (Model.TagIds.Contains(allTag.Id.ToString()))
                            {
                                <p class="col-lg-4"><input type="checkbox" checked value="@allTag.Id">@allTag.Name</p>
                            }
                            else
                            {
                                <p class="col-lg-4"><input type="checkbox" value="@allTag.Id">@allTag.Name</p>
                            }
                        }
                        else
                        {
                            <p class="col-lg-4"><input type="checkbox" value="@allTag.Id">@allTag.Name</p>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div id="btnAddNew" class="text-center col-lg-2 col-md-6 col-sm-10 button m-auto p-2 mt-3 mb-3">Создать тег</div>
        </div>
        <div class="row">
            <button class="col-lg-2 col-md-6 col-sm-10 button m-auto p-2 mt-3 mb-3">Опубликовать</button>
        </div>
    </form>
</div>

<div id="AddFormsTags" class="hide">
    <h3 class="text-white text-center">Создайте тег</h3>
    <form class="container d-flex flex-column justify-center" method="post" asp-controller="Tag" asp-action="AddTag">
        <p class="w-100"><input class="input form-control-plaintext w-50" asp-for="@Model.AddTag.Name" value="" /></p>
        <span asp-validation-for="@Model.AddTag.Name" class="text-danger"></span>
        <p class="opacity-0 d-none"><input asp-for="@Model.Post.Title" value="@Title" readonly /></p>
        <p class="opacity-0 d-none"><textarea asp-for="@Model.Post.Content" value="@Content" readonly></textarea></p>
        <div class="opacity-0 d-none"><input id="TagsHide" type="text" asp-for="@Model.TagIds" value="@TagIds" /></div>
        <div class="row">
            <button class="col-lg-2 p-2 col-md-6 col-sm-10 button h-50 m-auto">Добавить тег</button>
        </div>
    </form>
</div>

