@using BlogProject.ViewModels.Request
@model RegisterViewModel

@{
    ViewData["Title"] = "Редактирование страницы";
    Layout = "_Layout";
}

<h1 class="text-white text-center">Редактирование страницы</h1>
<div class="row justify-content-center">
    <form class="col-lg-8 m-3 d-flex flex-column justify-content-center" method="post" asp-controller="User" asp-action="Edit">
        <p class="w-100 text-center m-2">
            <label asp-for="@Model.FirstName"></label>
            <input class="input text-center form-control-plaintext w-75" asp-for="@Model.FirstName" value="@Model.FirstName" />
        </p>
        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>

        <p class="w-100 text-center m-2">
            <label asp-for="@Model.LastName"></label>
            <input class="input text-center form-control-plaintext w-75" asp-for="@Model.LastName" value="@Model.LastName" />
        </p>
        <span asp-validation-for="@Model.LastName" class="text-danger"></span>

        <p class="w-100 text-center m-2">
            <label asp-for="@Model.Sex"></label>
            <input class="input text-center form-control-plaintext w-75" asp-for="@Model.Sex" value="@Model.Sex" />
        </p>
        <span asp-validation-for="@Model.Sex" class="text-danger"></span>

        <p class="w-100 text-center m-2">
            <label asp-for="@Model.Email"></label>
            <input class="input text-center form-control-plaintext w-75" asp-for="@Model.Email" value="@Model.Email" />
        </p>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>

        <h4 class="text-white text-center m-3">Поменять пароль</h4>

        <p class="w-100 text-center m-2">
            <label asp-for="@Model.Password"></label>
            <input class="input text-center form-control-plaintext w-75" asp-for="@Model.Password" value="@Model.Password" />
        </p>
        <span asp-validation-for="@Model.Password" class="text-danger"></span>

        <p class="w-100 text-center m-2">
            <label asp-for="@Model.PasswordConfirm"></label>
            <input class="input text-center form-control-plaintext w-75" asp-for="@Model.PasswordConfirm" value="@Model.PasswordConfirm" />
        </p>
        <span asp-validation-for="@Model.PasswordConfirm" class="text-danger"></span>

        <button class="col-lg-4 col-md-6 col-sm-12 col-12 button p-2 m-auto mt-5">Сохранить</button>
    </form>
</div>
<div class="row justify-content-center">
   <div class="col-lg-5 text-center">
        <a class="pointer" id="linkRemove">Удалить аккаунт</a>
   </div>
</div>
<div class="modal fade" id="modalAgreement" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" id="closeModalAgreement" class="close button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center pb-5">
                <h3 class="text-black mb-5">Вы уверены в том, что хотите удалить аккаунт?</h3>
                <a class="button p-2 focus-outline-none" asp-controller="User" asp-action="DeleteUser">Удалить аккаунт</a>
            </div>

        </div>
    </div>
</div>
