@using BlogProject.ViewModels.Response
@using BlogProject.ViewModels.Request
@model UserViewModel
@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-6">
            <img src="https://3myhouse.com/upload/image/store/0.png" class="w-100" />
            @if (Context.User.Identity.Name == Model.Email)
            {
                <form class="row justify-content-center m-3" method="get" asp-controller="User" asp-action="Edit">
                    <button class="button col-lg-10 p-2">Редактировать</button>
                </form>
            }
        </div>
        <div class="col-lg-3 m-2 d-flex flex-column justify-content-center">
            <h3>@Model.FullName</h3>
            <p>Пол: @Model.Sex</p>
            <p>Email: @Model.Email</p>
        </div>
    </div>

    @if (Context.User.Identity.Name == Model.Email)
    {
        <form class="container mt-3" method="get" asp-controller="Post" asp-action="AddPost">
            <div class="row justify-content-center">
                <button class="button col-lg-3 p-2">Сделать публикацию</button>
            </div>
        </form>
    }

    <div>

        @if (Model.Posts.Length != 0)
        {
            @foreach (var post in Model.Posts)
            {
                <div class="row justify-content-center">
                    <div class="col-lg-8 post-block m-3 parentComm">
                        <div class="m-3">
                            <h4 class="text-white">@post.Title</h4>
                            <p class="text-white">@post.Content</p>
                            <p class="w-75">
                                @foreach (var tag in post.Tags)
                                {
                                    <span class="tag m-1 p-1">@tag.Name</span>
                                }
                            </p>
                            <div class="d-flex justify-content-end">
                                <p class="position-absolute color-main translateY-100">
                                    @if (Context.User.Identity.Name == Model.Email)
                                    {
                                        <a class="pointer fs-3 focus-outline-none color-main" asp-route-postId="@post.Id" asp-controller="Post" asp-action="EditPost">&#9998;</a>
                                    }
                                    <span class="btnComm pointer fs-1">&crarr;</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="hide hideComm">
                        <div class="comments container">
                            @foreach (var comment in post.Comments)
                            {
                                <div class="row flex-row-reverse">
                                    <div class="col-lg-6 text-end border-1 border-white p-2 br-20 mt-1 m-lg-4 m-md-2 m-sm-0">
                                        <p class="fw-bold">@comment.User.FirstName</p>
                                        <p>@comment.Content</p>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="d-flex justify-content-center">
                            <a class="button p-2 text-center focus-outline-none m-2" formmethod="get" asp-controller="Comment" asp-action="AddComment" asp-route-postId="@post.Id">Добавить комментарий</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
